@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

@import "tailwindcss";

@theme {
  --color-accent-primary: #5a77ff;
  --color-accent-secondary: #ffc593;
  --color-accent-tertiary: #bc7198;
  --color-grey-light: #dfdfdf;
  --color-black: #000000;
  --color-white-pure: #ffffff;
  --font-dm: "DM Sans", sans-serif;
}

body {
  width: 100dvw;
  font-family: var(--font-dm);
  overflow-x: hidden;
  scroll-behavior: smooth;
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .header-features {
    @apply text-[12px] font-bold tracking-[2px] uppercase;
  }

  h1 {
    @apply text-[32px] leading-[40px] font-bold tracking-[3.33px] uppercase md:text-[40px] md:leading-[48px] md:tracking-[4.17px];
  }

  h3 {
    @apply text-[18px] leading-[25px] font-bold tracking-normal;
  }
  p {
    @apply text-[15px] leading-[25px] tracking-normal;
  }

  .col-center {
    @apply flex flex-col items-center justify-center;
  }
  .custom-gradient {
    background: linear-gradient(to top, #ffc593 0%, #bc7198 52%, #5a77ff 100%);
  }

  .custom-gradient-secondary {
    @apply bg-gradient-to-b from-black/0 to-black/70 mix-blend-multiply;
  }
  .bg-gradient-main {
    background: linear-gradient(to top, #ffc593 0%, #bc7198 52%, #5a77ff 100%);
  }

  .custom-container {
    @apply mx-auto max-w-[1200px];
  }
  .bg-stories-header {
    @apply bg-cover bg-center bg-no-repeat md:bg-[url('../assets/stories/tablet/moon-of-appalacia.jpg')] lg:bg-[url('../assets/stories/desktop/moon-of-appalacia.jpg')];
  }
}

@layer components {
  main {
    @apply w-dvw overflow-x-hidden;
  }
  .bg-gradient-1 {
    /* background: linear-gradient(to top, #ffc593 0%, #bc7198 52%, #5a77ff 100%); */
    @apply absolute h-[6px] w-[128px] lg:hidden;
  }
  .bg-cta {
    /* public/assets/shared/desktop/bg-beta.jpg */
    @apply bg-[url('/assets/shared/desktop/bg-beta.jpg')] bg-cover bg-center md:bg-[url('/assets/shared/desktop/bg-beta.jpg')] lg:bg-[url('/assets/shared/desktop/bg-beta.jpg')];
  }
  .mon-gradient {
    @apply absolute md:bottom-0 md:left-0 md:h-full md:w-[6px] lg:top-0 lg:h-[6px] lg:w-full;
  }
}
